/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";


// @use "bootstrap/scss/bootstrap" as *;
@import "~bootstrap-icons/font/bootstrap-icons.css";
// Light theme (default)

:root {
    --bg-color: #ffffff;
    --text-color: #212529;
    --card-bg: #f8f9fa;
    --border-color: #dee2e6;
  }
  
  // Dark theme
  .dark-mode {
    --bg-color: #212529;
    --text-color: #f8f9fa;
    --card-bg: #343a40;
    --border-color: #495057;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  
  .card {
    background-color: var(--card-bg);
    border-color: var(--border-color);
  }